
/******************************************************/
/*                      FONTS                         */
/******************************************************/

@font-face {
    font-family: 'Bebas';
    src: url('../fonts/BebasNeue-Regular.ttf');
}
@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato-BoldItalic.ttf');
}
@font-face {
    font-family: 'Lato-light';
    src: url('../fonts/Lato-Regular.ttf');
}

@font-face {
    font-family: 'Oswald';
    src: url('../fonts/Oswald-Regular.ttf');
}

@font-face {
    font-family: 'Oswald-bold';
    src: url('../fonts/Oswald-Bold.ttf');
}

/******************************************************/
/*                    DEFAULTS                        */
/******************************************************/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: white;
    scroll-behavior: smooth;
}

/******************************************************/
/*                     HEADER                         */
/******************************************************/

header{
    position: fixed;
    width: 100%;
    z-index: 10;
    background-color: transparent;
    transition-duration: 400ms;
}

header nav{
    height: 57px;
    margin-inline: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

header nav span{
    display: flex;
}

header nav img#logo{
    width: 42px;
    height: 42px;
    margin-top: -3px;
    margin-left: 62px;
    margin-right: 5px;
}

header nav img#headerTextMain{
    width: 93px;
    height: 36px;
    transition-duration: 500ms;
    opacity: 0;
}

header nav ol{
    display: flex;
    list-style-type: decimal-leading-zero;
}

header nav ol li{
    font-family: "Lato";
    font-size: 0.655rem;
    text-transform: uppercase;
    padding-top: 9px;
    letter-spacing: 0.05rem;
    line-height: 0.938rem;
}

header nav ol li:nth-child(1){
    margin-right: 61px;
}

header nav ol li:nth-child(2){
    margin-right: 46px;
}

div.underline{
    height: 1px;
    background-color: #fff;
}

div.underline.line-long{
    width: 70px;
    margin-left: -20px;
}

div.underline.line-short{
    width: 54px;
    margin-left: -19px;
}

header nav ol li a{
    display: block;
    font-family: "Lato";
    color: white;
    font-size: 0.655rem;
    text-transform: uppercase;
    text-decoration: none;
    padding-top: 9px;
    letter-spacing: 0.05rem;
    line-height: 0.938rem;
}

header nav ol li a:hover{
    color: white;
}

/******************************************************/
/*                  ALL SECTIONS                      */
/******************************************************/

section.hero, section.section-2, section.section-3{
    position: relative!important;
    overflow: hidden;
}

/**********************/
/*   sections 2 & 3   */
/**********************/
h1.text-large{
    font-size: 7.5rem;
    color: #414f6b;
    opacity: 0.5;
    font-weight: 900;
    font-family: "Oswald";
}

h1.text-heading{
    font-size: 1.8rem;
    color: #414f6b;
    font-weight: 900;
    font-family: "Oswald-bold";
    text-transform: uppercase;
    letter-spacing: -1px;
}

section p{
    word-spacing: 1px;
    font-size: 0.8rem;
    line-height: 20px;
    color: #000000;
    font-family: "Lato-light";
}

/******************************************************/
/*                   SECTION 1                        */
/******************************************************/

section.hero{
    width: 100%;
}

section.hero img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

section.hero img#textLA{
    position: relative;
}

/**********************/
/*   only on mobile   */
/**********************/
section.hero h1.text-main{ 
    display: none;
    position: absolute;
    top: 15%;
    left: 10%;
    font-size: 6rem;
}

h1.text-main{
    text-transform: uppercase;
    line-height: 5rem;
    color: #4d4d4d;
    font-family: "Bebas";
}

h1.text-main .text-top{
    letter-spacing: 2px;
}

h1.text-main .text-bottom{
    color: #414f6b;
    letter-spacing: 5px;
}

/******************************************************/
/*                   SECTION 2                        */
/******************************************************/

section.section-2{
    width: 100%;
}

section.section-2 img{
    width: 100%;
}

section.section-2 h1.text-large{
    position: absolute;
    top: 90px;
    left: 270px;
}

section.section-2 h1 span.zero{
    position: absolute;
    top: -3px;
    left: 2px;

}
section.section-2 h1 span.one{
    position: absolute;
    top: -3px;
    left: 60px;

}
section.section-2 h1 span.dot{
    position: absolute;
    top: -2px;
    left: 105px;

}

section.section-2 h1.text-heading{
    position: absolute;
    top: 162px;
    left: 378px;
}

section.section-2 p.lorem-text{
    position: absolute;
    top: 218px;
    left: 332px;
}

/**********************/
/*      carousel      */
/**********************/

section.section-2 div#carousel{
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 100%;
}

.carousel-inner{
    background: rgba(65,79,107,0.8);
}

.carousel-item > img{
    width: 14%!important;
    padding-top: 20px;
    padding-right: 2px;
    padding-left: 2px;
    padding-bottom: 30px;
}

.carousel-indicators{
    margin-bottom: 5px;
}

.carousel-indicators button{
    background-color: #677289!important;
    width: 5px!important;
    height: 5px!important;
    border-radius: 50%!important;
}

.carousel-indicators button.active{
    background-color: #fff!important;
}


/*****************************************************
*                   SECTION 3                        *
******************************************************/

section.section-3{
    width: 100%;
}

section.section-3 .text-box{
    width: 100%;
    height: 150px;
    background-color: white;
}

section.section-3 h1.text-large{
    position: absolute;
    top: 2px;
    left: 300px;
    font-size: 7.7rem;
    font-family: 'Oswald-bold';
    font-weight: bolder;
}

section.section-3 h1 span.zero{
    position: absolute;
    top: -3px;
    left: 2px;
}

section.section-3 h1 span.one{
    position: absolute;
    top: -3px;
    left: 65px;
}

section.section-3 h1 span.dot{
    position: absolute;
    top: -2px;
    left: 125px;
}

section.section-3 h1.text-heading{
    position: absolute;
    top: 74px;
    left: 432px;
}

section.section-3 p.lorem-text{
    position: absolute;
    top: 56px;
    left: 526px;
}

/**********************/
/*  tabs & accordion  */
/**********************/

.tabs-container{
    position: relative;
    width: 100%;
    background-color: #414f6b;
}

.tabs-container .nav-tabs {
    display: none;
    margin-left: 269px;
}

.tabs-container .nav-tabs .nav-link{
    border: 0;
    border-radius: 0;
    text-transform: uppercase;
    color: #b0b4be;
    font-size: 18px;
    font-weight: 700;
    font-family: "Oswald";
    padding: 2px 17px 4px;
    height: 34px;
}

.tabs-container .nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    text-decoration: none;
    position: relative;
    color: #414f6b;
    background: #b0b4be;
}

.nav-tabs .nav-link.active::after{
    content: '';
    width: 71%;
    height: 1px;
    position: absolute;
    left: 17px;
    bottom: 5px;
    background-color: #414f6b;
}


.tab-content .tab-pane .collapse img{
    width: 100%;
}

.card, .nav-tabs{
    border-width: 0!important;
}

.tab-content .tab-pane .collapse .tab-box{
    position: absolute;
    top: 87px;
    left: 25px;
    width: 18.6rem;
    height: 11.8rem;
    background: rgba(255,255,255,0.7);
    padding: 10px 32px;
    margin-left: 269px;
}

section.section-3 h1.text-heading.tabs-text{
    position: initial;
}

/******************************************************/
/*                     FOOTER                         */
/******************************************************/

footer{
    position: relative;
    width: 100%;
    height: 70px;
    background-color: #414f6b;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer img{
    height: 63px;
    margin-top: -8px;
    margin-left: 62px;
}

footer p{
    margin-right: 50px;
    margin-top: 10px;
    letter-spacing: 1px;
    line-height: 20px;
    text-transform: uppercase;
    color: #63769d;
    font-size: 9px;
    font-weight: 900;
    font-style: italic;
    font-family: "Lato-light";
}

/******************************************************/
/*                        RWD                         */
/******************************************************/


@media (min-width: 768px) { 
    .tabs-container .nav-tabs {
        display: flex;
    }
    .tabs-container .card .card-header {
        display: none;
    }
    .tabs-container .card .collapse {
        display: block;
    }
}
@media (max-width: 1200px){
    section.section-2 h1.text-large{
        top: 96px;
        left: 72px;
    }
    section.section-2 h1.text-heading{
        top: 158px;
        left: 180px;        
    }
    section.section-2 p.lorem-text{
        top: 200px;
        left: 220px;
    }
    section.section-3 h1.text-large{
        top: 0;
        left: 74px;
    }
    section.section-3 h1.text-heading{
        top: 70px;
        left: 205px;
    }
    section.section-3 p.lorem-text{
        top: 60px;
        left: 400px;
    }
}
@media (max-width: 993px){
    section.section-2{
        background:url("../images/2/2-Bg.png");
    }
    section.section-2 > img{
        width: auto;
        opacity: 0;
    }
    h1.text-heading{
        font-size: 4rem;
    }
    p.lorem-text{
        padding: 0 3rem;
        font-size: 1.1rem;
    }
    section.section-2 h1.text-large{
        top: 96px;
        left: 72px;
    }
    section.section-2 h1.text-heading{
        top: 128px;
        left: 180px;        
    }
    section.section-2 p.lorem-text{
        top: 290px;
        left: 0;
    }
    .carousel-item > img{
        width: 25%!important;
    }
    section.section-3 .text-box{
        height: 250px;
    }
    section.section-3 h1.text-large{
        top: 0;
        left: 74px;
    }
    section.section-3 h1.text-heading{
        top: 35px;
        left: 200px;
    }
    section.section-3 p.lorem-text{
        top: 150px;
        left: 0px;
    }
    .tab-content .tab-pane .collapse img{
        width: auto;
    }
    .tab-content .tab-pane .collapse .tab-box{
        left: 0;
        height: auto;
        margin-left: 100px;
    }
    section.section-3 h1.text-heading.tabs-text{
        font-size: 3rem;
    }
}
@media (max-width: 767px) {  
    .tabs-container .tab-content > .tab-pane {
        display: block !important;
        opacity: 1;
        border-radius: 0px;
    }
    .tabs-container .card-header h5 a {
        font-size: 20px;
        text-decoration: underline;
        text-transform: uppercase;
        color: #414f6b;
        font-weight: 700;
        font-family: "Oswald";
        border-bottom: none;
        display: block;
    }
    .tabs-container .card-header h5 a i {
        float: right;
    }

    section.section-2{
        background:url("../images/2/2-Bg.png");
    }
    section.section-2 > img{
        width: auto;
        opacity: 0;
    }
    h1.text-heading{
        font-size: 4rem;
    }
    p.lorem-text{
        padding: 0 3rem;
        font-size: 1.1rem;
    }
    section.section-2 h1.text-large{
        top: 96px;
        left: 72px;
    }
    section.section-2 h1.text-heading{
        top: 128px;
        left: 180px;        
    }
    section.section-2 p.lorem-text{
        top: 290px;
        left: 0;
    }
    .carousel-item > img{
        width: 38%!important;
    }
    section.section-3 .text-box{
        height: 250px;
    }
    section.section-3 h1.text-large{
        top: 0;
        left: 74px;
    }
    section.section-3 h1.text-heading{
        top: 35px;
        left: 200px;
    }
    section.section-3 p.lorem-text{
        top: 150px;
        left: 0px;
    }
    .tab-content .tab-pane .collapse img{
        width: auto;
    }
    .tab-content .tab-pane .collapse .tab-box{
        left: 0;
        height: auto;
        margin-left: 100px;
        transition: 1000ms;
    }
    section.section-3 h1.text-heading.tabs-text{
        font-size: 3rem;
    }

}
@media (max-width: 577px){
    section.hero img{
        width: auto;
    }
    .col-sm-8{
        width: auto!important;
    }
    section.hero img#textLA{
        opacity: 0;
    }
    section.hero h1.text-main{
        display: block;
    }
    section.section-2{
        background:url("../images/2/2-Bg.png");
    }
    section.section-2 > img{
        width: auto;
        opacity: 0;
    }
    h1.text-heading{
        font-size: 4rem;
    }
    p.lorem-text{
        padding: 0 3rem;
        font-size: 1.1rem;
    }
    section.section-2 h1.text-large{
        top: 10%;
        left: 10%;
    }
    section.section-2 h1.text-heading{
        top: 13%;
        left: 29%;        
    }
    section.section-2 p.lorem-text{
        top: 28%;
        left: 0;
    }
    .carousel-item > img{
        width: 52%!important;
    }
    section.section-3 .text-box{
        height: 250px;
    }
    section.section-3 h1.text-large{
        top: 0;
        left: 10%;
    }
    section.section-3 h1.text-heading{
        top: 7%;
        left: 34%;
    }
    section.section-3 p.lorem-text{
        top: 17%;
        left: 0px;
    }
    .tab-content .tab-pane .collapse img{
        width: auto;
    }
    .tab-content .tab-pane .collapse .tab-box{
        left: 0;
        height: auto;
        margin-left: 40px;
    }
    section.section-3 h1.text-heading.tabs-text{
        font-size: 3rem;
    }
}
@media (max-width: 300px){
    header nav img#logo{
        margin-left: 10px;
    }
    header nav img#headerTextMain{
        display: none;
    }
    header nav ol li{
        padding-top: 0px;
    }
    header nav ol li:nth-child(1){
        margin-right: 30px;
    }
    header nav ol li:nth-child(2){
        margin-right: 20px;
    }
    section.hero{
        height: 100vh;
    }
    section.hero img{
        width: auto;
    }
    .col-sm-8{
        width: auto!important;
    }
    section.hero img#textLA{
        opacity: 0;
    }
    h1.text-main{
        line-height: 2.6rem;
    }
    section.hero h1.text-main{
        display: block;
        top: 120px;
        left: 20px;
        font-size: 3rem;
    }
    
    section.section-2{
        background:url("../images/2/2-Bg.png");
    }
    section.section-2 > img{
        width: auto;
        opacity: 0;
    }
    h1.text-heading{
        font-size: 2rem;
    }
    p.lorem-text{
        padding: 0 3rem;
        font-size: 1rem;
    }
    section.section-2 h1.text-large{
        top: 40px;
        left: 40px;
    }
    section.section-2 h1.text-heading{
        top: 180px;
        left: 50px;        
    }
    section.section-2 p.lorem-text{
        top: 250px;
        left: 0;
    }
    section.section-2 div#carousel{
        bottom: 60px;
    }
    .carousel-item > img{
        width: 100%!important;
        padding: 0;
    }
    section.section-3 .text-box{
        height: 250px;
    }
    section.section-3 h1.text-large{
        top: 0;
        left: 26px;
    }
    section.section-3 h1.text-heading{
        top: 70px;
        left: 155px;
    }
    section.section-3 p.lorem-text{
        top: 150px;
        left: 0px;
    }
    section.section-3 .text-box{
        height: 340px;
    }
    .tab-content .tab-pane .collapse img{
        width: auto;
        height: 100vh;
    }
    .tab-content .tab-pane .collapse .tab-box{
        left: 0;
        height: auto;
        margin-left: 0px;
    }
    section.section-3 h1.text-heading.tabs-text{
        font-size: 3rem;
    }
}